<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="wave" src="/img/waves.png" alt="Waves">
        </div>
        {{>footer}}
    </body>
</html>